<base-right-menu
	id="rightMenuSearch"
	button-back="rightMenuMain"
	style="background: #fff;"
>
	<template #title>{{$t('taskSearch')}}</template>


	<template #content>

		<!-- Search -->
		<div class="board-menu__search board-menu__search_block">
			<div class="form-group">
				<input
					type="search"
					class="form-control"
					:placeholder="$t('taskSearch')"
					v-model="$store.state.dashboardFilter.search"
				>
				<button
					type="button"
					class="button-effect"
				>
					<img
						src="/img/svg/menu-search.svg"
						alt=""
					>
				</button>
			</div>
			<span>{{$t('enterSearchTerm')}}</span>
		</div>


		<!-- Tag -->
		<div class="board-menu__tags__checkbox">
			<h4>{{$t('tags')}}</h4>
			<div class="tags-checkbox__inner">

				<div
					class="mw-tags__item"
					v-for="item in storeTagList"
					:key="item.id"
					:style="{ background: item.color }"
				>
					<label class="tag-item__check">
						<input
							type="checkbox"
							hidden
							:value="item.id"
							v-model="$store.state.dashboardFilter.selectedTag"
						>

						<div class="tag-check__icon"></div>
					</label>
				</div>

			</div>
		</div>


		<!-- Member -->
		<div class="search-doer">
			<h4>{{$t('members')}}</h4>
			<div class="search-doer__inner us-n">

				<div
					class="search-doer__item"
					v-for="item in storeMemberList"
					:key="item.id"
				>
					<label>
						<input
							type="checkbox"
							hidden
							:value="item.employee.id"
							v-model="$store.state.dashboardFilter.selectedMember"
						>

						<div class="doer-item__ava">
							<img
								v-if="item.employee.photoFile"
								:src="$store.state.url + item.employee.photoFile.url"
							>
							<strong v-else>
								{{ item.employee.firstName.charAt(0) + item.employee.lastName.charAt(0) }}
							</strong>
						</div>

						<h5>{{ item.employee.firstName }} {{ item.employee.lastName }}</h5>

						<div class="doer-check"></div>
					</label>
				</div>

			</div>
		</div>


		<!-- Status -->
		<div class="task-status__search">
			<h4>{{$t('deadlineS')}}</h4>
			<div class="tast-status__inner">

				<div
					class="task-status__item"
					v-for="[key, value] in Object.entries(TASK_STATUS_TYPE)"
					:key="key"
				>
					<label>
						<input
							type="checkbox"
							hidden
							:value="value"
							v-model="$store.state.dashboardFilter.selectedStatus"
						>

						<h5>{{ $t(`TASK_STATUS_TYPE.${value}`) }}</h5>

						<div class="doer-check"></div>
					</label>
				</div>

			</div>
		</div>


		<!-- Priority -->
		<div class="priority-search">
			<h4>{{$t('priority')}}</h4>
			<div class="priority-search__inner">

				<div
					class="priority-search__item"
					v-for="[key, value] in Object.entries(TASK_PRIORITY_TYPE)"
					:key="key"
				>
					<label>
						<input
							type="checkbox"
							hidden
							:value="value"
							v-model="$store.state.dashboardFilter.selectedPriority"
						>

						<h5>{{ $t(`TASK_PRIORITY_TYPE.${value}`) }}</h5>

						<div class="doer-check"></div>
					</label>
				</div>

			</div>
		</div>


		<!-- Level -->
		<div class="level-diff">
			<h4>{{$t('difficultyLevel')}}</h4>
			<div class="level-diff__inner">

				<div
					class="level-diff__item"
					v-for="[key, value] in Object.entries(TASK_LEVEL_TYPE)"
					:key="key"
				>
					<label>
						<input
							type="checkbox"
							hidden
							:value="value"
							v-model="$store.state.dashboardFilter.selectedLevel"
						>

						<h5>{{ $t(`TASK_LEVEL_TYPE.${value}`) }}</h5>

						<div class="doer-check"></div>
					</label>
				</div>

			</div>
		</div>
	</template>
</base-right-menu>