<base-right-menu
	id="rightMenuAction"
	button-back="rightMenuMain"
>
	<template #title>{{$t('actions')}}</template>


	<template #content>
		<div class="allactionln_tab">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a
						class="nav-link active"
						data-toggle="tab"
						href="#actionMenuHome"
					>{{$t('all')}}</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						data-toggle="tab"
						href="#actionMenuComment"
					>{{$t('comments')}}</a>
				</li>
			</ul>


			<div class="tab-content">
				<div
					class="tab-pane fade show active"
					id="actionMenuHome"
				>
					<div class="allactionln_t1">

						<div
							v-for="item in actionList"
							class="allactionln_t111"
						>
							<div class="menu-actions__item">
								<div class="menu-actions__ava">
									<b v-if="!item.employee">
										UN
									</b>
									<b v-else-if="!item.employee.photoFile">
										{{ item.employee.firstName.charAt(0) + item.employee.lastName.charAt(0) }}
									</b>
									<img
										v-else
										:src="$store.state.url + item.employee.photoFile.url"
									>
								</div>
								<div class="menu-actions__item__text">
									<strong v-if="item.employee">
										{{ item.employee.firstName }}
										{{ item.employee.lastName }}
									</strong>
									<strong v-else>
										{{ $t('unknown') }}
									</strong>

									<base-action :action="item"></base-action>

									<span>
										<template v-if="$moment().diff($moment(item.createdAt), 'years') > 0">
											{{ item.createdAt | filterDateMonth }}
										</template>
										<template v-else>
											{{ item.createdAt | filterTimeMonth }}
										</template>
									</span>
								</div>
							</div>

							<!--<div class="menu-actions__item_imgs_ln">-->
							<!--	<img src="/img/photoupload.png">-->
							<!--	<img src="/img/photoupload.png">-->
							<!--	<img src="/img/photoupload.png">-->
							<!--</div>-->
						</div>

						<div
							v-show="actionTotalCount > actionPageSize"
							class="mt-4"
						>
							<button
								@click="GetTaskActionList(20)"
								type="button"
								class="btn az_base_btn btn-primary w-100"
							>
								{{$t('more')}}
							</button>
						</div>
					</div>
				</div>


				<div
					class="tab-pane fade"
					id="actionMenuComment"
				>
					<div class="allactionln_t1">

						<div
							v-for="item in commentList"
							class="allactionln_t111"
						>
							<div class="menu-actions__item">
								<div class="menu-actions__ava">
									<img
										v-if="item.author.photoFile"
										:src="$store.state.url + item.author.photoFile.url"
										alt=""
									>
									<b v-else>
										{{ item.author.firstName.charAt(0) + item.author.lastName.charAt(0) }}
									</b>
								</div>
								<div class="menu-actions__item__text">
									<strong>
										{{ item.author.firstName }}
										{{ item.author.lastName }}
									</strong>

									<comment-item :comment="item" />

								</div>
							</div>
							<div class="menu-actions__item_imgs_ln"></div>
						</div>
						<div
							v-show="commentTotalCount > commentPageSize"
							class="mt-4"
						>
							<button
								@click="GetTaskCommentList(20)"
								type="button"
								class="btn btn-primary w-100 text-center"
							>
								{{$t('more')}}
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</template>
</base-right-menu>