<base-modal id="backgroundModal">
	<template #title>{{ $t('changeBackground') }}</template>


	<template #content>
		<div class="az_prfl_mod">
			<div class="az_prfl_mod_case">
				<div class="row mb-4">
					<div class="col-4 mb-3">
						<div
							class="az_bg_mdl_color"
							style="background: url('/img/background2.jpg') center / cover no-repeat;"
							@click="ResetBackground"
						>
							<div
								class="az_bg_mdl_color_tick"
								v-if="computedBackground.img === $store.state.backgroundImg"
							>
								<img src="/img/svg/background-tick.svg">
							</div>
						</div>
					</div>

					<div
						class="col-4 mb-3"
						v-for="item in COLOR_LIST"
					>
						<div
							class="az_bg_mdl_color"
							:style="{ background: item }"
							@click="ChangeBackground(item)"
						>
							<div
								class="az_bg_mdl_color_tick"
								v-if="computedBackground.color === item"
							>
								<img src="/img/svg/background-tick.svg">
							</div>
						</div>
					</div>
				</div>


				<label
					class="az_bg_mdl_img_up"
					:class="{'active': computedBackground.img}"
				>
					<input
						type="file"
						accept="image/*"
						hidden
						@change="UploadPhoto"
					>
					<img
						v-if="computedBackground.img"
						:src="computedBackground.img"
					>
					<img
						v-else
						src="/img/svg/background-image-preview.svg"
					>
				</label>
			</div>
		</div>
	</template>
</base-modal>