<base-modal
	id="profileModal"
	modal-size="lg"
>
	<template #title>{{ $t('profileMenuModal.editProfile') }}</template>


	<template #content>
		<div class="az_prfl_mod">
			<div class="az_prfl_mod_case">
				<form @submit.prevent="Save">
					<div class="az_prfl_mod_photo">
						<label class="az_prfl_mod_photo_img fx-c">
							<input
								id="profilePhotoUpload"
								type="file"
								accept="image/*"
								hidden
								@change="UploadPhoto"
							>

							<img
								class="img"
								v-if="photoFileUrl"
								key="tempImg"
								:src="photoFileUrl"
							>
							<img
								class="img"
								v-else-if="model.employee.photoFileId"
								key="img"
								:src="$store.state.url + model.employee.photoFile.url"
							>
							<img
								class="prvw"
								v-else
								key="prvw"
								src="@/assets/img/svg/sidebar_user.svg"
							>
						</label>


						<label
							class="az_prfl_mod_photo_txt del"
							v-if="photoFileUrl"
							key="delTemp"
							@click="DeleteTempPhoto"
						>
							<span class="txt">{{ $t('delete') }}</span>
							<i class="fa fa-minus-circle"></i>
						</label>
						<label
							class="az_prfl_mod_photo_txt del"
							v-else-if="model.employee.photoFileId"
							key="delReal"
							@click="DeleteRealPhoto"
						>
							<span class="txt">{{ $t('delete') }}</span>
							<i class="fa fa-minus-circle"></i>
						</label>
						<label
							class="az_prfl_mod_photo_txt"
							for="profilePhotoUpload"
							v-else
							key="upl"
						>
							<span class="txt">{{ $t('profileMenuModal.uploadPhoto') }}</span>
							<i class="fa fa-plus-circle"></i>
						</label>
					</div>


					<div class="row">
						<div class="col-lg-6">
							<div class="az_base_form_gr">
								<label class="az_base_lbl">{{ $t('userName') }}</label>
								<input
									class="form-control az_base_inp"
									type="text"
									:class="{'is-invalid': $v.model.userName.$error}"
									v-model.trim="$v.model.userName.$model"
								>
							</div>

							<div class="az_base_form_gr">
								<label class="az_base_lbl">{{ $t('firstName') }}</label>
								<input
									class="form-control az_base_inp"
									type="text"
									:class="{'is-invalid': $v.model.employee.firstName.$error}"
									v-model.trim="$v.model.employee.firstName.$model"
								>
							</div>

							<div class="az_base_form_gr">
								<label class="az_base_lbl">{{ $t('lastName') }}</label>
								<input
									class="form-control az_base_inp"
									type="text"
									:class="{'is-invalid': $v.model.employee.lastName.$error}"
									v-model.trim="$v.model.employee.lastName.$model"
								>
							</div>

							<div class="az_base_form_gr">
								<label class="az_base_lbl">{{ $t('middleName') }}</label>
								<input
									class="form-control az_base_inp"
									type="text"
									v-model.trim="model.employee.middleName"
								>
							</div>
						</div>


						<div class="col-lg-6">
							<div class="az_base_form_gr">
								<label class="az_base_lbl">{{ $t('email') }}</label>
								<input
									class="form-control az_base_inp"
									type="email"
									:class="{'is-invalid': $v.model.email.$error}"
									v-model.trim="$v.model.email.$model"
								>
							</div>

							<base-input-phone
								class="az_base_form_gr"
								:input-class="{'is-invalid': $v.model.phoneNumber.$error}"
								:value.sync="$v.model.phoneNumber.$model"
							></base-input-phone>

							<base-input-deadline
								class="az_base_form_gr"
								:label-text="$t('birthday')"
								disable-from
								:value.sync="model.employee.birthDate"
							></base-input-deadline>
						</div>
					</div>


					<div class="d-flex justify-content-end">
						<button
							class="btn az_base_btn btn-default mr-3"
							type="button"
							data-dismiss="modal"
						>
							{{ $t('cancel') }}
						</button>
						<button
							class="btn az_base_btn btn-primary"
							type="submit"
						>
							{{ $t('save') }}
						</button>
					</div>
				</form>
			</div>
		</div>
	</template>
</base-modal>